$foreground: #eee;
$background: #000;
$auxiliary: #555;
$notice: #999;
$link: #8db8e8;
$link-hover: lighten($link, 10%);
$link-active: darken($link, 10%);
$headline: #3083bc;
$incoming-name: #60b042;
$highlight-color: #ffff00;
$highlight-auxiliary: lighten($auxiliary, 15%);
$highlight-background: lighten($background, 25%);
$headline-background: lighten($background, 15%);
$status-color: #2ca3e3;


html {
  color: $foreground;
  background-color: $background;
}

body {
	margin: 0;
  line-height: 1.4em;
}

a {
  color: $link;
  &:hover {
    color: $link-hover;
  }
  &:active {
    color: $link-active;
  }
}

.line {
  display: -webkit-box;
  -webkit-box-orient: horizontal; -webkit-box-pack: start;
  padding: 0 0.25em;
  border-left: 0.25em solid $background;

  .fixed {
    -webkit-box-flex: 0;
  }

  .flexible {
    -webkit-box-flex: 1;
  }

  .time {
    margin-right: 0.5em;
    color: $auxiliary;
  }

  .sender {
    color: $auxiliary;
  }

  // special styles

  &.incoming {
    .sender .name {
      color: $incoming-name;
    }
    &.SenderColor .name {
      &.one          { color: #60b042; }
      &.two          { color: #7fffd4; }
      &.three        { color: #66cd00; }
      &.four         { color: #ff7f24; }
      &.five         { color: #dc143c; }
      &.six          { color: #6495ed; }
      &.seven        { color: #eead0e; }
      &.eight        { color: #8b008b; }
      &.nine         { color: #bcee68; }
      &.ten          { color: #8deeee; }
      &.eleven       { color: #ff1493; }
      &.twelve       { color: #ee2c2c; }
      &.thirteen     { color: #ff6eb4; }
      &.fourteen     { color: #9ac0cd; }
      &.fifteen      { color: #fafad2; }
      &.sixteen      { color: #32cd32; }
      &.seventeen    { color: #e066ff; }
      &.eighteen     { color: #ff4500; }
      &.nineteen     { color: #fdf5e6; }
      &.twenty       { color: #bbffff; }
      &.twenty-one   { color: #ffc0cb; }
      &.twenty-two   { color: #54ff9f; }
      &.twenty-three { color: #00ff7f; }
      &.twenty-four  { color: #eeee00; }
      &.twenty-five  { color: #8b8b00; }
    }
  }

  &.outgoing {
    .sender .name {
      color: $foreground;
    }
  }

  &.status, &.event {
    .sender .name {
      color: $status-color;
    }
    .text {
      color: $notice;
    }
  }

  &.action {
    .sender {
      display: none;
    }

    .text {
      &:before {
        content: "• ";
        color: $status-color;
      }
      .actionMessageUserName {
        display: inline;
      }
      .actionMessageBody {
        &:before {
          content: " ";
        }
        &:after {
          content: none;
        }
      }
    }
  }

  &.focus {
    border-left-color: blue;
  }

  &.consecutive.message {
    .time {
      visibility: hidden;
    }
    .sender {
      display: none;
    }
  }

  &.mention.message {
    border-left-color: yellow;
  }
}

.history {
	opacity: 0.75;
}

#topic {
  position: fixed; top: 0; left: 0; right: 0; z-index: 1;
  text-align: center;
  color: $headline; background-color: $headline-background; opacity: 1;
}
