html {
  color: #eeeeee;
  background-color: black; }
  html body {
    margin: 0; }
    html body a {
      color: #8db8e8; }
    html body .line {
      padding: 2px 4px;
      clear: left; }
      html body .line .time {
        color: #555555;
        float: left;
        margin-right: 0.5em; }
      html body .line .sender {
        color: #555555;
        float: left;
        margin-right: 0.5em; }
      html body .line .text {
        display: table-cell;
        word-wrap: break-word; }
      html body .line.incoming .sender .name {
        color: #60b042; }
      html body .line.outgoing .sender .name, html body .line.outgoing .text {
        color: #999999; }
      html body .line.consecutive .sender, html body .line.consecutive .time {
        visibility: hidden; }
      html body .line.status .sender .name, html body .line.event .sender .name {
        color: #60b042; }
      html body .line.status .text, html body .line.event .text {
        color: #999999; }
      html body .line.mention {
        background-color: #262626; }
        html body .line.mention .time {
          color: #7b7b7b; }
    html body .history {
      opacity: 0.5; }
    html body #topic {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center; }
    html body #insert {
      clear: left; }
