$foreground: #eee;
$background: #000;
$auxiliary: #555;
$notice: #999;
$link: #8db8e8;
$link-hover: lighten($link, 10%);
$link-active: darken($link, 10%);
$headline: #3083bc;
$incoming-name: #60b042;
$highlight-auxiliary: lighten($auxiliary, 15%);
$highlight-background: lighten($background, 25%);
$headline-background: lighten($background, 15%);
$highlight-color: yellow;

html {
  color: $foreground;
  background-color: $background;
}

body {
	margin: 0;
  line-height: 1.4em;
}

a {
  color: $link;
  &:hover {
    color: $link-hover;
  }
  &:active {
    color: $link-active;
  }
}

.line {
  display: -webkit-box;
  -webkit-box-orient: horizontal; -webkit-box-pack: start;
  padding: 0 0.25em;

  .fixed {
    -webkit-box-flex: 0;
  }

  .flexible {
    -webkit-box-flex: 1;
  }

  .time {
    margin-right: 0.5em;
    color: $auxiliary;
  }

  .sender {
    color: $auxiliary;
  }

  .highlight {
    display: none;
    margin-left: 0.5em;
    color: $highlight-color;
  }

  // special styles

  &.incoming {
    .sender .name {
      color: $incoming-name;
    }
  }

  &.outgoing {
    .sender .name {
      color: $notice !important; // override sendercolor
    }
    .message .text {
      color: $notice;
    }
  }

  &.consecutive {
    .time {
      visibility: hidden;
    }
    .sender {
      display: none;
    }
  }

  &.status, &.event {
    .sender .name {
      color: $incoming-name;
    }

    .text {
      color: $notice;
    }
  }

  &.focus {
    border-right: 0.5em solid $highlight-color;
  }

  &.mention {
    .highlight {
      display: block;
    }
  }
}

.history {
	opacity: 0.75;
}

#topic {
  position: fixed; top: 0; left: 0; right: 0; z-index: 1;
  text-align: center;
  color: $headline; background-color: $headline-background; opacity: 1;
}
